<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư viện chăm sóc thú cưng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/dog.css">

</head>

<body>
    <div class="main">
        <div class="content">
            <div class="contain">
                <div class="time">
                    <p class="time-sub">THỨ HAI, THÁNG MỘT 22, 2024</p>
                    <p class="time-about">About Us</p>
                    <a class="time-sign" href="register.html"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg> Sign in</a>
                </div>
                <div class="header">
                    <div class="header-left">
                        <img width="77px" height="88px" src="../assets/images/DOG1.png" alt="">
                    </div>
                    <div class="header-right">
                        <ul class="header-list">
                            <li class="header-item"><a href="index.html" class="header-item-link"> HOME</a></li>
                            <li class="header-item"><a class="header-item-link"> GIỚI THIỆU </a></li>
                            <li class="header-item">
                                <a href="chocanh.html" id="header-link-sub" class="header-item-link">
                                    CHÓ CẢNH
                                </a>
                                <ul class="header-list-sub">
                                    <li class="header-item-sub"> <a style="text-decoration: none;color:black" href="cacgiongcho.html"> Các giống chó </a></li>
                                    <li class="header-item-sub"> Chăm sóc chó </li>
                                    <li class="header-item-sub"> <a style="text-decoration: none;color:black" href="sanphamcho.html"> Sản phẩm cho chó </a>
                                    </li>

                                </ul>

                            </li>
                            <li class="header-item">
                                <a id="header-link-sub" href="meocanh.html" class="header-item-link"> MÈO
                                    CẢNH
                                </a>
                                <ul class="header-list-sub">
                                    <li class="header-item-sub"> Các giống mèo </li>
                                    <li class="header-item-sub">Chăm sóc mèo </li>
                                    <li class="header-item-sub">Dinh dưỡng cho mèo </li>

                                    <li class="header-item-sub"> <a style="text-decoration: none;color:black" href="sanphammeo.html"> Sản phẩm cho Mèo</a>
                                    </li>
                                </ul>


                            </li>



                            </li>
                            <li class="header-item"><a class="header-item-link"> TIN TỨC </a></li>
                            <li class="header-item"><a class="header-item-link"> LIÊN HỆ</a></li>
                            <li class="header-item">
                                <a class="header-item-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="trending">
                    <p class="trending-context">Home > Chó cảnh</p>


                </div>

                <div class="article">
                    <div id="cacgiongcho" class="article-left">
                        <div class="overlay"></div>
                        <span id="page">Chó Cảnh</span>
                        <div id="dog-content" class="article-content">
                            <h2 class="article-context">

                                Chó không lông Xolo – quốc khuyển của Mexico </h2>
                            <p class="article-user">Admin <span class="article-date">Tháng 12 19, 2022</span></p>
                        </div>

                    </div>
                    <div class="article-right">
                        <div class="article-right-duoi">
                            <div id="giongcho-right-tren1" style="height: 232px;" class="article-duoi-trai">
                                <div class="overlay"></div>
                                <span id="page">Chó Cảnh</span>

                                <div id="dog-content" class="article-content">

                                    <h2 style="font-size: 16px;text-align:center" class="article-context">

                                        Chó Collie – thiên sứ thông minh và ngọt ngào </h2>

                                </div>
                            </div>
                            <div id="giongcho-right-tren2" class="article-duoi-phai">
                                <div class="overlay"></div>
                                <span id="page">Chó Cảnh</span>

                                <div id="dog-content" style="height: 236px;" class="article-content">

                                    <h2 style="font-size: 16px; text-align:center" class="article-context">

                                        Chó Malinois – trí thông minh vượt trội </h2>

                                </div>
                            </div>
                        </div>
                        <div class="article-right-duoi">
                            <div id="giongcho-right-duoi1" class="article-duoi-trai">
                                <div class="overlay"></div>
                                <span id="page">Chó Cảnh</span>

                                <div class="article-content">

                                    <h2 id="dog-content" style="font-size: 16px;text-align:center ;"
                                        class="article-context">

                                        Chó Ngao Tây Tạng – loài chó đắt đỏ của giới thượng lưu </h2>

                                </div>
                            </div>
                            <div id="giongcho-right-duoi2" class="article-duoi-phai">
                                <div class="overlay"></div>
                                <span id="page">Chó Cảnh</span>

                                <div id="dog-content" class="article-content">

                                    <h2 style="font-size: 16px; text-align:center" class="article-context">
                                        Chó Sục Bò – lực sĩ có ngoại hình siêu “ngố” </h2>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="article-new">
                    <h6 id="dog-new" class="product-introl"><span>Browsing Category</span></h6>
                    <ul class="article-new-list">
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/dog/3.png" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">

                                    Chó Dachshund – chiếc xúc xích vui vẻ
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">


                                    Chó Dachshund nổi tiếng bởi thân hình tựa chiếc xúc xích trông rất nổi bật và đáng
                                    yêu. Cùng Blogpet.vn tìm hiểu về em chó này nhé! </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/cacgiongcho/4.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">

                                    Tuổi thọ của chó – bạn đã biết cách tính tuổi chó chưa?
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">


                                    Tuổi thọ của chó có lẽ là vấn đề nhiều chủ nuôi đang thắc mắc. Vậy thì, hãy cùng
                                    Blogpet.vn tìm hiểu về tuổi thọ của chó nhé! </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/cacgiongcho/5.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">

                                    Chó Dachshund – chiếc xúc xích vui vẻ
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">



                                    Chó Dachshund nổi tiếng bởi thân hình tựa chiếc xúc xích trông rất nổi bật và đáng
                                    yêu. Cùng Blogpet.vn tìm hiểu về em chó này nhé! </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/cacgiongcho/6.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">

                                    Chó Kangal – anh chàng lực sĩ thực thụ
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">



                                    Chó Kangal nổi tiếng với thân hình to lớn cùng hàm răng sắc nhọn, hạ gục đối thủ.
                                    Cùng BlogPet.vn tìm hiểu về quốc khuyển của Thổ Nhĩ Kỳ này nhé! </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>

                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/cacgiongcho/7.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">
                                    Chó Bully – thân hình vạm vỡ đầy ấn tượng
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">


                                    Chó Bully được xem là một giống chó Mỹ khá hot hiện nay. Chúng gây ấn tượng bởi thân
                                    hình vạm vỡ tạo cảm giác hung dữ nhưng thực chất lại khá thân thiện. </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/cacgiongcho/9.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">

                                    Chó Lài: một trong “tứ đại quốc khuyển” Việt Nam
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">



                                    Chó Lài là một trong tứ đại quốc khuyển của Việt Nam nổi tiếng với dáng vẻ xinh đẹp.
                                    Hãy cùng khám phá chó Dingo Đông Dương nhé! </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/cacgiongcho/10.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">

                                    Chó Ngao Ý: Chiến khuyển dũng mãnh thời Trung Cổ
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">



                                    Chó Ngao Ý còn được gọi là Cane Corso, là một trong những giống chó dũng mãnh bậc
                                    nhất trên thế giới. Hãy cùng tìm hiểu về giống chó này nhé! </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="footer">
                <ul class="footer-list">
                    <li class="footer-item">
                        <img src="../assets/images/DOG1.png" alt="">
                        <p class="footer-item-detail">Blogpet.vn là Cẩm nang kiến thức chăm sóc thú cưng,
                            chia sẻ kinh nghiệm nuôi
                            chó, mèo và các loại thú cảnh khác.</p>
                        <p>
                            • Email: blogpet.vn@gmail.com</p>
                        <ul class="footer-sub">
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-twitter"></i></li>

                            <li><i class="fa-brands fa-google"></i></li>

                            <li><i class="fa-brands fa-instagram"></i></li>
                            <li><i class="fa-regular fa-envelope"></i></li>


                        </ul>
                        <p class="coppy-right">
                            © 2024 - Thư viện chăm sóc thú cưng. All Rights Reserved. </p>
                    </li>
                    <li class="footer-item">
                        <p>About us</p>
                        <ul class="footer-about">
                            <li><i class="fa-solid fa-file"></i> <span style="margin-left: 6px;"> Giới Thiệu</span></li>
                            <li> <i class="fa-solid fa-file"></i> <span style="margin-left: 6px;">Điều khoản sử dụng
                                    dịch vụ</span></li>
                            <li><i class="fa-solid fa-file"></i> <span style="margin-left: 6px;"> Chính sách bảo mật
                                </span></li>
                        </ul>
                    </li>
                    <li class="footer-item">
                        <p>Categories</p>
                        <ul class="footer-about">
                            <li class="footer-sub-li">Chó Cảnh
                                <span class="quantity">60 </span>
                            </li>
                            <li class="footer-sub-li">Mèo Cảnh
                                <span class="quantity">35 </span>
                            </li>
                            <li class="footer-sub-li">Các giống Chó
                                <span class="quantity">35 </span>
                            </li>
                            <li class="footer-sub-li">Các giống Mèo
                                <span class="quantity">34 </span>
                            </li>
                            <li class="footer-sub-li">Chăm sóc Chó
                                <span class="quantity">20</span>
                            </li>
                            <li class="footer-sub-li">Chăm sóc Mèo
                                <span class="quantity">16 </span>
                            </li>
                            <li class="footer-sub-li">Sản phẩm cho Chó
                                <span class="quantity">8 </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>

</body>

</html>