<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư viện chăm sóc thú cưng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b00e3cfa74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
    <div class="main">
        <div class="content">
            <div class="contain">
                <div class="time">
                    <p class="time-sub">THỨ HAI, THÁNG MỘT 22, 2024</p>
                    <p class="time-about">About Us</p>
                    <a class="time-sign" href="register.html"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                        </svg> Sign in</a>
                </div>
                <div class="header">
                    <div class="header-left">
                        <img width="77px" height="88px" src="../assets/images/DOG1.png" alt="">
                    </div>
                    <div class="header-right">
                        <ul class="header-list">
                            <li class="header-item"><a href="index.html" class="header-item-link"> HOME</a></li>
                            <li class="header-item"><a class="header-item-link"> GIỚI THIỆU </a></li>
                            <li class="header-item">
                                <a href="chocanh.html" id="header-link-sub" class="header-item-link">
                                    CHÓ CẢNH
                                </a>
                                <ul class="header-list-sub">
                                    <li class="header-item-sub"> <a style="text-decoration: none;color:black"
                                            href="cacgiongcho.html"> Các giống chó </a></li>
                                    <li class="header-item-sub"> Chăm sóc chó </li>
                                    <li class="header-item-sub"> <a style="text-decoration: none;color:black"
                                            href="sanphamcho.html"> Sản phẩm cho chó </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="header-item">
                                <a id="header-link-sub" href="meocanh.html" class="header-item-link"> MÈO
                                    CẢNH
                                </a>
                                <ul class="header-list-sub">
                                    <li class="header-item-sub"> Các giống mèo </li>
                                    <li class="header-item-sub">Chăm sóc mèo </li>
                                    <li class="header-item-sub">Dinh dưỡng cho mèo </li>

                                    <li class="header-item-sub"> <a style="text-decoration: none;color:black"
                                            href="sanphammeo.html"> Sản phẩm cho Mèo</a>
                                    </li>
                                </ul>

                            </li>
                            </li>
                            <li class="header-item"><a class="header-item-link"> TIN TỨC </a></li>
                            <li class="header-item"><a class="header-item-link"> LIÊN HỆ</a></li>
                            <li class="header-item">
                                <a class="header-item-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="trending">
                    <p class="trending-text">TRENDING</p>
                    <p class="trending-context">Tắm cho chó có còn là nỗi ác mộng?</p>
                    <div class="trending-btn">
                        <span class="btn-border"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                            </svg></span>
                        <span class="btn-border">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </span>
                    </div>

                </div>

                <div class="article">
                    <div class="article-left">
                        <div class="overlay"></div>
                        <div class="article-content">

                            <h2 class="article-context"> Thức ăn cho mèo con – bé cưng nên ăn gì? </h2>
                            <p class="article-user">Admin <span class="article-date">Tháng 12 19, 2022</span></p>
                        </div>

                    </div>
                    <div class="article-right">
                        <div class="article-right-tren">
                            <div class="overlay"></div>
                            <div class="article-content">

                                <h2 class="article-context"> Mua mèo ở đâu uy tín TPHCM ?</h2>

                            </div>
                        </div>
                        <div class="article-right-duoi">
                            <div class="article-duoi-trai">
                                <div class="overlay"></div>
                                <div class="article-content">

                                    <h2 style="font-size: 16px;text-align:center" class="article-context"> Chó không nên
                                        ăn gì hãy kiểm
                                        tra ngay</h2>

                                </div>
                            </div>
                            <div class="article-duoi-phai">
                                <div class="overlay"></div>
                                <div class="article-content">

                                    <h2 style="font-size: 16px; text-align:center" class="article-context">Top địa chỉ
                                        mua mèo uy tín tại
                                        Đà Nẵng</h2>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="product">
                    <div class="product-left">
                        <h6 class="product-cat"><span>Mèo</span></h6>
                        <img style="margin-top: 20px;" width="100%" src="../assets/images/2.jpeg" alt="">
                        <h2 class="product-title">Thức Ăn Cho Mèo Con – Bé Cưng Nên Ăn Gì?</h2>
                        <p class="user">Admin <span>Th12 19, 2022</span></p>
                        <p class="product-detail">Thức ăn cho mèo con phải đầy đủ chất dinh dưỡng thì bé mới phát triển
                            tốt. Cùng…</p>

                        <ul class="product-list">
                            <li class="product-item">
                                <img width="86px" height="86px" src="../assets/images/6.jpeg" alt="">
                                <div class="product-item-content">
                                    <h2 class="product-title">Thức Ăn Cho Mèo Con – Bé Cưng Nên Ăn Gì?</h2>
                                    <p class="user"> <span>Th12 19, 2022</span></p>

                                </div>
                            </li>
                            <li class="product-item">
                                <img width="86px" height="86px" src="../assets/images/7.jpeg" alt="">
                                <div class="product-item-content">
                                    <h2 class="product-title">Bánh thưởng cho mèo và những điều thú vị
                                    </h2>
                                    <p class="user"> <span>Th7 28, 2022</span></p>

                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="product-center">
                        <h6 class="product-dog"><span>Chó</span></h6>
                        <img style="margin-top: 20px;" width="100%" src="../assets/images/4.jpeg" alt="">
                        <h2 class="product-title">Chó Không Nên Ăn Gì? Hãy Kiểm Tra Ngay</h2>
                        <p class="user">Admin <span>Th12 19, 2022</span></p>
                        <p class="product-detail">
                            Chó không nên ăn gì là một vấn đề mà nhiều người lo lắng và thắc mắc. Hãy cùng… </p>

                        <ul class="product-list">
                            <li class="product-item">
                                <img width="86px" height="86px" src="../assets/images/8.png" alt="">
                                <div class="product-item-content">
                                    <h2 class="product-title">
                                        Tắm cho chó có còn là nỗi ác mộng? </h2>
                                    <p class="user"> <span>Th12 19, 2022</span></p>

                                </div>
                            </li>
                            <li class="product-item">
                                <img width="86px" height="86px" src="../assets/images/9.png" alt="">
                                <div class="product-item-content">
                                    <h2 class="product-title">Mắt chó đỏ là bệnh gì
                                    </h2>
                                    <p class="user"> <span>Th7 28, 2022</span></p>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="product-right">
                        <ul class="product-right-list">
                            <li class="product-right-item" id="active">
                                <i class="fa-solid fa-caret-right"></i> Home
                            </li>
                            <li class="product-right-item">
                                <i class="fa-solid fa-caret-right"></i> Giới Thiệu

                            </li>
                            <li class="product-right-item">
                                <i class="fa-solid fa-caret-right"></i> Chó Cảnh

                            </li>
                            <ul class="product-right-sub">
                                <li class="right-sub-item"><i class="fa-solid fa-caret-right"></i> Các Giống chó </li>
                                <li class="right-sub-item"><i class="fa-solid fa-caret-right"></i> Chăm sóc chó</li>
                                <li class="right-sub-item"><i class="fa-solid fa-caret-right"></i> Sản phẩm cho chó</li>
                            </ul>
                            <li class="product-right-item">
                                <i class="fa-solid fa-caret-right"></i> Mèo Cảnh

                            </li>
                            <ul class="product-right-sub">
                                <li class="right-sub-item"><i class="fa-solid fa-caret-right"></i> Các Giống Mèo </li>
                                <li class="right-sub-item"><i class="fa-solid fa-caret-right"></i> Chăm sóc Mèo</li>
                                <li class="right-sub-item"><i class="fa-solid fa-caret-right"></i> Dinh Dưỡng cho Mèo
                                </li>
                                <li class="right-sub-item"><i class="fa-solid fa-caret-right"></i> Sản phẩm cho Mèo</li>
                            </ul>
                            <li class="product-right-item">
                                <i class="fa-solid fa-caret-right"></i> Tin Tức
                            </li>
                            <li class="product-right-item">
                                <i class="fa-solid fa-caret-right"></i> Liên Hệ
                            </li>
                        </ul>
                        <h6 class="product-our"><span>Our Instagram</span></h6>


                    </div>

                </div>
                <div class="product-pet">
                    <h6 class="product-introl"><span>Sản phẩm cho thú cưng</span></h6>
                    <div class="product-pet-list">
                        <div class="product-pet-left">
                            <img width="100%" src="../assets/images/11.jpeg" alt="">
                            <h2 id="pet-title" class="product-title">Thức Ăn Cho Mèo Con – Bé Cưng Nên Ăn Gì?</h2>
                            <p id="pet-title" class="user">Admin <span>Th12 19, 2022</span></p>
                            <p class="product-detail">Lược chải lông mèo là một vật dụng quan trọng khi bạn muốn bộ lông
                                của boss đẹp hơn. Hãy cùng blogpet.vn tìm hiểu…</p>

                        </div>
                        <div class="product-pet-right">
                            <div class="pet-right-tren">
                                <img width="100%" height="144px" src="../assets/images/12.jpeg" alt="">
                                <h2 id="pet-title" class="product-title">Lược chải lông chó chất lượng và top 5 nên sở
                                    hữu</h2>
                            </div>
                            <div class="pet-right-tren">
                                <img width="100%" height="144px" src="../assets/images/13.jpeg" alt="">
                                <h2 id="pet-title" class="product-title">Kinh nghiệm mua sữa cho chó không nên bỏ qua
                                </h2>
                            </div>


                        </div>

                    </div>

                </div>

                <div class="article-new">
                    <h6 id="new" class="product-introl"><span>Bài viết mới</span></h6>
                    <ul class="article-new-list">
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/2.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">Mắt chó đỏ là bệnh gì
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">
                                    Chó không nên ăn gì là một vấn đề mà nhiều người lo lắng và thắc mắc. Hãy cùng… </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/4.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">
                                    Chó không nên ăn gì? Hãy kiểm tra ngay!
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">

                                    Chó không nên ăn gì là một vấn đề mà nhiều người lo lắng và thắc mắc. Hãy cùng
                                    blogpet.vn tìm hiểu ngay hôm nay nhé! </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/6.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title">
                                    Mèo ăn gì theo từng giai đoạn phát triển?
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">

                                    Mèo ăn gì theo từng giai đoạn phát triển ? Với mỗi độ tuổi khác nhau, bé mèo sẽ có
                                    những chế độ ăn, loại thức ăn và lượng thức ăn khác nhau. </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/2.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title"> Tắm cho chó có còn là nỗi ác mộng?
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">

                                    Tắm cho chó sẽ không còn là nỗi ám ảnh khi bạn biết các mẹo sau. Hiểu đặc điểm nhạy
                                    cảm để việc tắm cho chó không còn là “những cuộc chiến” </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>

                        <li class="article-new-item">
                            <img width="300px" height="192px" src="../assets/images/2.jpeg" alt="">
                            <div class="article-new-detail">
                                <h2 id="article-new-title" class="product-title"> Tắm cho chó có còn là nỗi ác mộng?
                                </h2>
                                <p id="article-new-title" class="user"> <span>Th7 28, 2022</span></p>
                                <p class="product-detail">

                                    Tắm cho chó sẽ không còn là nỗi ám ảnh khi bạn biết các mẹo sau. Hiểu đặc điểm nhạy
                                    cảm để việc tắm cho chó không còn là “những cuộc chiến” </p>
                                <span class="article-new-btn">READ MORE</span>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="footer">
                <ul class="footer-list">
                    <li class="footer-item">
                        <img src="../assets/images/DOG1.png" alt="">
                        <p class="footer-item-detail">Blogpet.vn là Cẩm nang kiến thức chăm sóc thú cưng,
                            chia sẻ kinh nghiệm nuôi
                            chó, mèo và các loại thú cảnh khác.</p>
                        <p>
                            • Email: blogpet.vn@gmail.com</p>
                        <ul class="footer-sub">
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-twitter"></i></li>

                            <li><i class="fa-brands fa-google"></i></li>

                            <li><i class="fa-brands fa-instagram"></i></li>
                            <li><i class="fa-regular fa-envelope"></i></li>


                        </ul>
                        <p class="coppy-right">
                            © 2024 - Thư viện chăm sóc thú cưng. All Rights Reserved. </p>
                    </li>
                    <li class="footer-item">
                        <p>About us</p>
                        <ul class="footer-about">
                            <li><i class="fa-solid fa-file"></i> <span style="margin-left: 6px;"> Giới Thiệu</span></li>
                            <li> <i class="fa-solid fa-file"></i> <span style="margin-left: 6px;">Điều khoản sử dụng
                                    dịch vụ</span></li>
                            <li><i class="fa-solid fa-file"></i> <span style="margin-left: 6px;"> Chính sách bảo mật
                                </span></li>
                        </ul>
                    </li>
                    <li class="footer-item">
                        <p>Categories</p>
                        <ul class="footer-about">
                            <li class="footer-sub-li">Chó Cảnh
                                <span class="quantity">60 </span>
                            </li>
                            <li class="footer-sub-li">Mèo Cảnh
                            </li>
                            <li class="footer-sub-li">Các giống Chó
                                <span class="quantity">35 </span>
                            </li>
                            <li class="footer-sub-li">Các giống Mèo
                                <span class="quantity">34 </span>
                            </li>
                            <li class="footer-sub-li">Chăm sóc Chó
                                <span class="quantity">20</span>
                            </li>
                            <li class="footer-sub-li">Chăm sóc Mèo
                                <span class="quantity">16 </span>
                            </li>
                            <li class="footer-sub-li">Sản phẩm cho Chó
                                <span class="quantity">8 </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>

</body>

</html>