<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Online Login Form Responsive Widget Template :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="../assets/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="../assets/css/form.css"> <!-- Font-Awesome-Icons-CSS -->

	<!-- online-fonts -->
	<link
		href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext"
		rel="stylesheet">
	<!-- //online-fonts -->
</head>

<body>
	<!-- main -->
	<div class="center-container">
		<!--header-->
		<div class="header-w3l">
			<h1>Online Login Form</h1>
		</div>
		<!--//header-->
		<div class="main-content-agile">
			<div class="sub-main-w3">
				<div class="wthree-pro">
					<h2>Login Quick</h2>
				</div>
				<form action="#" method="post">
					<div class="pom-agile">
						<input placeholder="E-mail" name="Name" class="user" type="email" required="">
						<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
					</div>
					<div class="pom-agile">
						<input placeholder="Password" name="Password" class="pass" type="password" required="">
						<span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
					</div>
					<div class="sub-w3l">
						<h6><a href="#">Forgot Password?</a></h6>
						<div class="right-w3l">
							<a class="form btn btn-primary" href="index.html">Login</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--//main-->
		<!--footer-->
		<div class="footer">
			<p>&copy; 2017 Online Login Form. All rights reserved | Design by <a
					href="http://w3layouts.com">W3layouts</a></p>
		</div>
		<!--//footer-->
	</div>
</body>

</html>