#cat-left {
  background-image: url("../images/2.jpeg");
  
}
#cat-right-tren1 {
  background-image: url("../images/6.jpeg");


}
#cat-right-tren2 {
  background-image: url("../images/7.jpeg");
  

}
#cat-right-duoi1 {
  background-image: url("../images/meocanh/4.jpeg");

}
#cat-right-duoi2 {
  background-image: url("../images/meocanh/5.jpeg");

}
#cat-left {
  background-image: url("../images/2.jpeg");
  
}
#cat-right-tren1 {
  background-image: url("../images/6.jpeg");


}
#cat-right-tren2 {
  background-image: url("../images/7.jpeg");
  

}
#cat-right-duoi1 {
  background-image: url("../images/meocanh/4.jpeg");

}
#cat-right-duoi2 {
  background-image: url("../images/meocanh/5.jpeg");

}

/* product cat */
#product-meo-left{
  background-image: url('../images/sanphammeo/1.jpeg');
}
#product-meo-tren1 {
  background-image: url('../images/sanphammeo/2.jpeg');



}
#product-meo-tren2 {
  background-image: url('../images/sanphammeo/3.jpeg');

  

}
#product-meo-duoi1 {
  background-image: url('../images/sanphammeo/4.png');

}
#product-meo-duoi2 {
  background-image: url('../images/sanphammeo/5.jpeg');

}